
<html ng-app="whiteBoard">
    <head>
        <title>WhiteBorad</title>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        @*<script src="~/Scripts/angular.min.js"></script>*@
        <script src="~/Scripts/Introduct.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js">
        </script>
        <script src="../../Scripts/whiteBoard.js"></script>
        <script src="../../Scripts/wantedController.js"></script>
        <script>
            $(document).ready(function () {
                $.getJSON("api/person/", fillPersons);
            });

            function fillPersons(persons) {
                $('#member').empty();

                $.each(persons, function (key, val) { 
                    var str = val.Name + val.Age.toString() + val.Sex + val.Hometown + val.Hobby;
                    $('<li/>', { text: "I am " + val.Name + ", " + val.Age.toString() + ", "
                        +val.Sex +". My hometown is "+val.Hometown+" and I like "+val.Hobby+"."})
                        .appendTo($('#member'));
                });
            }

            function addPerson() {
                var person = {
                    "Name": $('#name').val(),
                    "Age": $('#age').val(),
                    "Sex": $('#sex').val(),
                    "Hometown": $('#hometown').val(),
                    "Hobby": $('#hobby').val()
                };

                if ($('#name').val() == '' || $('#age').val() == '' || $('#hometown').val() == '' || $('#hobby').val() =='') {
                    alert("Incomplate Data");
                    return;
                }
                else {
                    $.post("api/person/", person, ok);
                    $('#name').attr("value", "");
                    $('#age').attr("value", "");
                    $('#hometown').attr("value", "");
                    $('#hobby').attr("value", "");
                }           
            }

            var ok = function () {
                $.get("api/person/", fillPersons);
            };
        </script>

        <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css"/>
        <script src="~/Scripts/Introduct.js"></script>
        <script src="~/Scripts/my-share.js"></script>
        <style type="text/css">
        .grid {
            width: 200px;
            height: 30px
        }
        </style>


    </head>
    <body>
    <table style="width: 100%; table-layout: fixed">
        <tr>
            <td id="hegang">
                <div ng-include ng-controller="wantedController" src="Src" >
            
                </div>
        </td>
            <td id="liujing">
<div ng-controller ="IntroductionController">
    <form class="form-horizontal">
        <div style="padding-left: 160px">
            <h3>Introduce Yourself</h3>
        </div>
        <div class = "control-group">
            <label class="control-label"><strong>Name:</strong></label>
            <div class="controls">
                <input type = "text" ng-model="name"  style="width: 200px; height: 30px"/>
            </div>
        </div>
        <div class = "control-group">
            <label class="control-label"><strong>Age:</strong></label>
            <div class="controls">
                <input type="number" min="0" ng-model="age" style="width: 200px; height: 30px"/>
            </div>
        </div>
        <div class = "control-group">
            <label class="control-label"><strong>Sex:</strong></label>
            <div class="controls">
                <select id="sex" ng-model="sex" style="width: 200px; height: 30px">
                    <option value="male" selected="selected">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <div class = "control-group">
            <label class="control-label"><strong>Hometown:</strong></label>
            <div class="controls">
                <input type = "text" ng-model="hometown" style="width: 200px; height: 30px"/>
            </div>
        </div>
        <div class = "control-group">
            <label class="control-label"><strong>Hobby:</strong></label>
            <div class="controls">
                <input type = "text" ng-model="hobby" style="width: 200px; height: 30px"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="button" ng-click ="AddAction()" value="Submit"/>
            </div>
        </div>
        <div class="control-group">
            <div style="padding-left: 160px">
            <h3>Introduction</h3>
            </div>
            <ul>
                <li ng-repeat="person in persons" style="list-style: none">
                    <i class="icon-user"> </i> I am {{person.Name}}, {{person.Age}}, {{person.Sex}}. My hometown is {{person.Hometown}} and I like {{person.Hobby}}.
                </li>
            </ul>

        </div>
    </form>
</div>
            <td id="chenghong">
                <h2>I Want to Share:</h2>
                <div ng-controller = "ShareController">
                    <input type = "text" ng-model = "share" placeholder = "Enter Share">
                    <button id = "Share" ng-click = "add()">Share</button>
                    
                    <button id = "Show" ng-click = "show()">Show</button>
                    <h3>
                        I am sharing:
                    </h3><p>{{Shared}}</p>
                </div>
            </td>
         </tr>   
    </table>
    </body>
</html>


