
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
               White Board-Introduce Yourself</p>
        </div>
    </div>
</header>

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <p>Name: <input type="text" id ="name" size = "5"/></p>
            <p>Age: <input type="number" id ="age" size = "5"/></p>
            <p>Sex: <select id="sex">
                    <option value="male" selected="selected">Male</option>
                    <option value="female">Female</option>
                </select></p>
            <p>Hometown: <input type="text" id ="hometown" size = "5"/></p>
            <p>Hobby: <input type="text" id="hobby" size="5"></p>
            <input type="button" value="submit" onclick="addPerson();"/>
           </div> 

        <div>
            <h5>INFO</h5>
            <ul id="member"/>
        </div>
    </section>
</div>
@section scripts {
    <script>
        $(document).ready(function() {
            $.getJSON("api/person/", fillPersons);
        });

        function fillPersons(persons) {
            $('#member').empty();

            $.each(persons, function(key, val) { //why key?
                var str = val.Name + val.Age.toString() + val.Sex + val.Hometown + val.Hobby;
                $('<li/>', { text: str })
                    .appendTo($('#member'));
            });
        }

        function addPerson() {
            var person = {
                "Name": $('#name').val(),
                "Age": $('#age').val(),
                "Sex": $('#sex').val(),
                "Hometown": $('#hometown').val(),
                "Hobby": $('#hobby').val()
            };
            $.post("api/person/", person, ok);
        }

        var ok = function() {
            $.get("api/person/", fillPersons);
        };
    </script>
}
